<div class="container margin-top">
    <div class="row">
        {% if block.position == 'left' %}
            <div class="col-md-6">
                <div class="image-block">
                    <img src="{{ block.image.one().getUrl() }}" alt="{{ block.image.one().title }}">
                </div>
            </div>
            <div class="col-md-6 vertical-align">
                {{ block.text }}
            </div>
        {% else %}
            <div class="col-md-6 vertical-align">
                {{ block.text }}
            </div>
            <div class="col-md-6">
                <div class="image-block">
                    <img src="{{ block.image.one().getUrl() }}" alt="{{ block.image.one().title }}">
                </div>
            </div>
        {% endif %}
    </div>
</div>