<div class="col-md-4 col-sm-4 col-xs-12 mix {% for jewel in jewelEntry.jewelsCategories.all() %} {{ jewel.slug }}{% endfor %}">
    <div class="img home-portfolio-image">
        <img src="{{ jewelEntry.heroImage.one().getUrl('overviewImage') ?? '' }}" alt="{{ jewelEntry.title }}">
        <div class="overlay-thumb">
            <div class="details">
                <span class="title">{{ jewelEntry.title|upper }}</span>
                {% if jewelEntry.jewelsCategories|length %}
                    <span class="info">
                    {% for jewel in jewelEntry.jewelsCategories.all() %}
                        {{ jewel.title|upper }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </span>
                {% endif %}
            </div>
            <span class="btnBefore"></span>
            <span class="btnAfter"></span>
            <a class="main-portfolio-link" href="{{ jewelEntry.url }}"></a>
        </div>
    </div>
</div>