{% extends '_layout' %}

{% block content %}
    {% if entry.heroImage|length %}
        <div class="container">
            <div class="row">
                {% set image = entry.heroImage.one() ?? fallback.heroImage.one() %}
                <div class="header-page col-md-6 col-no-padding"
                     style="background-image:url({{ image.getUrl('halfWidthImage') }});
                             background-position: {% for focalPoint in image.getFocalPoint() %} {{ focalPoint * 100 }}% {% endfor %};">
                </div>
                <div class="header-page col-md-6 col-no-padding"
                     style="background-image:url({{ fallback.heroImage.one().getUrl('halfWidthImage') }})">
                    <div class="inner-content position-absolute">
                        <div class="header-content">
                            <h1 class="header-alt">{{ entry.title }}</h1>
                            {% if entry.sticksCategories|length %}
                                <span class="info" style="display: block; text-align: center">
                                    {% for stick in entry.sticksCategories.all() %}
                                        {{ stick.title|upper }}{% if not loop.last %}, {% endif %}
                                    {% endfor %}
                                </span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="container">
        <div class="single-portfolio-wrapper">
            <div class="row">
                <div class="col-md-8 col-sm-8">
                    {% if not entry.heroImage|length %}
                        <h1>{{ entry.title|upper }}</h1>
                        {% if entry.sticksCategories|length %}
                            <span class="info">
                            {% for stick in entry.sticksCategories.all() %}
                                {{ stick.title|upper }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </span>
                        {% endif %}
                    {% endif %}
                    {% if entry.text|length %}
                        {{ entry.text }}
                    {% endif %}
                </div>
                <div class="col-md-3 col-md-offset-1 col-sm-4">
                    <div class="project-information">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td><strong>Naam:</strong></td>
                                <td>{{ entry.title }}</td>
                            </tr>
                            {% if entry.number|length %}
                                <tr>
                                    <td><strong>Nummer:</strong></td>
                                    <td>{{ entry.number }}</td>
                                </tr>
                            {% endif %}
                            {% if entry.sticksCategories|length %}
                                <tr>
                                    <td><strong>Categorie:</strong></td>
                                    <td>
                                        {% for stick in entry.sticksCategories.all() %}
                                            {{ stick.title }}{% if not loop.last %}, {% endif %}
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endif %}
                            {% if entry.productionYear %}
                                <tr>
                                    <td><strong>Jaar:</strong></td>
                                    <td>{{ entry.productionYear }}</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if entry.images|length %}
        <div class="container margin-top">
            <div class="single-project-details">
                <div class="row">
                    {% for image in entry.images.all() %}
                        <div class="col-md-6 col-sm-6">
                            <div class="single-project-images">
                                <a data-fancybox="gallery" href="{{ image.getUrl() }}">
                                    <img src="{{ image.getUrl('otherImages') }}" alt="{{ image.title }}">
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

    {% set params = craft.entries.section('projects') %}
    {% set prevEntry = entry.getPrev(params) %}
    {% set nextEntry = entry.getNext(params) %}
    <div class="container">
        <div class="portfolio-controls">
            <div class="btn-project home-btn">
                <a href="{{ craft.entries.section('projectsOverview').one().url }}" data-hover="Overzicht">
                    <i class="pe-7s-keypad"></i>
                </a>
            </div>
            {% if nextEntry|length %}
                <div class="btn-project forward-btn">
                    <a href="{{ nextEntry.url }}" data-hover="Volgende">
                        <i class="pe-7s-angle-right right"></i>
                    </a>
                </div>
            {% endif %}
            {% if prevEntry|length %}
                <div class="btn-project back-btn">
                    <a href="{{ prevEntry.url }}" data-hover="Vorige">
                        <i class="pe-7s-angle-left left"></i>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
    {% if entry.relatedSticks|length %}
        <div class="container margin-top">
            <div class="similar-project">
                <h4>Andere wandelstokken</h4>
                <div class="row">
                    {% for projectEntry in entry.relatedSticks.all() %}
                        {% include '_snippets/_item/_project' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}